.modal-overlay
.modal
  .name Спасибо за отзыв
  .content
    Ваш отзыв появится на сайте сразу после прохождения модерации.


.title Книга отзывов и предложений

.comments-block.clearfix
  .comments

    - @comments.each do |comment|
      .comment
        .name
          = comment.name
          %span.date
            = comment.created_at.strftime('%d.%m.%Y')

        .content
          = comment.content.gsub("\n", "<br />").html_safe



  .right
    .form-block
      .form-offer
        Нам очень важно знать ваше мнение!


      .form
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
        %textarea{name: :content, placholder: 'Напишите ваш отзыв тут'}
        .button.submit-comment Отправить отзыв
