.title Новости и акции

.articles
  .article
    .top.clearfix
      .image
        = image_tag '_article_thumb.png'
      .right
        .date 14 сентября 2014 года
        .title
          На продажу завезена первая партия зимней
          обуви для говорящих хомяков

    .content
      В целом, этот фильм явно можно считать одним из самых лучших не только этого года, но и декады. Все было продумано до мелочей, на каждый вопрос нашелся ответ, но все это ни капли не смотрелось предсказуемо, напротив, каждый последующий эпизод заставлял поражаться и задумываться, как же все-таки закончится эта история. А после просмотра фильма действительно чувствуешь себя будто только что проснувшейся от какого-то сна. Без всяких сомнений, он заслуживает самых высоких оценок, но даже десяти баллов вряд ли хватит.

    %a.read-more{href: '#'} Читать далее