.title Вакансии сети магазинов «Туфлеград»


.vacancies
  .vacancy
    .name
      Уборщица
    .salary
      Заработная плата:
      .value
        от 20 000 до 25 000 рублей

    .more
      График работы:
      %strong
        2/2
      %br
      Опыт работы:
      %strong
        не требуется

    %a{href: '#'} Читать полное описание вакансии



  .vacancy
    .name
      Уборщица
    .salary
      Заработная плата:
      .value
        от 20 000 до 25 000 рублей

    .more
      График работы:
      %strong
        2/2
      %br
      Опыт работы:
      %strong
        не требуется

    %a{href: '#'} Читать полное описание вакансии


  .vacancy
    .name
      Уборщица
    .salary
      Заработная плата:
      .value
        от 20 000 до 25 000 рублей

    .more
      График работы:
      %strong
        2/2
      %br
      Опыт работы:
      %strong
        не требуется

    %a{href: '#'} Читать полное описание вакансии


  .vacancy
    .name
      Уборщица
    .salary
      Заработная плата:
      .value
        от 20 000 до 25 000 рублей

    .more
      График работы:
      %strong
        2/2
      %br
      Опыт работы:
      %strong
        не требуется

    %a{href: '#'} Читать полное описание вакансии