.breadcrumbs
  = link_to 'Новости и акции', articles_path
  = ' / '
  Просмотр вакансии

.title{style: 'margin-top: 0px; height: auto; margin-bottom: 20px'}
  Вакансия «Уборщица» в сеть магазинов «Туфлеград»

.vacancy-bar
  .bullet
    Уровень зарплаты:
    .value
      от 30 000 до 50 000 рублей

  .bullet
    Требуемый опыт работы:
    .value
      от двух лет

  .bullet
    График работы:
    .value
      Сменный 2/2


.vacancy-content.clearfix
  .about
    .name Описание вакансии
    .text
      %p
        Посмотрев семь месяцев назад первый тизер, вышедший к фильму «Начало», все сразу поняли, что их ждет незабываемое зрелище. Да и фамилия режиссера уже давно стала синонимом к слову «качество», по крайней мере для меня: из его фильмографии я смотрела 5 фильмов, не считая данного, и все они в списке моих самых любимых. Поэтому в кино я шла с абсолютной уверенностью, что эта картина пополнит мой список. Но после просмотра я поняла, что все мои ожидания были превзойдены в N-ное количество раз.

      %p
        Фильм рассказывает нам о новой системе, благодаря которой можно внедряться в сон к любому человеку, своровать у него какую-нибудь идею или даже внедрить ее в мозг. Этим и занимаются двое главных героев фильма. Кроме того, с ними работает целая команда, помогающая им этим заниматься: химик, который готовит снотворные средства, архитектор, составляющий проекты их будущих снов и так называемый «хамелеон», который способен менять свой облик во сне. Всем им поручено внедрить полезную для конкурентов идею молодому наследнику многомиллионной империи. Они готовятся к этому, составляют план и начинают действовать. Но в любой системе может произойти сбой, и этот случай не является исключением… Дальше рассказывать не стоит, так как не хочется портить впечатление тем, кто еще не посмотрел, но конец был как раз в стиле Нолана: вам дали основу, а дальше уж додумывайте сами. И не сомневайтесь, вы будете поражены.

  .right
    .form-block
      .form-offer
        Оставьте ваши имя и телефон
        в форме ниже и наш менеджер
        по персоналу свяжется с вами
        на следующий день

      .form
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
        %input{type: :text, name: :name, placeholder: 'Введите ваш телефон'}
        .button Откликнуться на вакансию



    .phone-block
      Или позвоните по номеру:
      .value 8 800 2000 600


    .phone-block
      Или отправьте ваше резюме на почту:
      .value info@abardacha.ru