%legend
  Настройки

.row
  .col-md-6

    = simple_form_for @settings, url: admin_setting_path(@settings) do |f|
      = f.input :about_company, input_html: {rows: 20}
      = f.submit 'Готово', class: [:btn, 'btn-lg', 'btn-success']