.articles
  margin-top: 50px
  .article
    width: 940px
    font-size: 15px
    line-height: 22px
    margin-bottom: 50px

    h1
      font-size: 32px
      line-height: 42px
      margin-bottom: 20px

      small
        font-size: 14px

    img
      float: left
      margin-right: 20px

    p
      margin-bottom: 15px


    .top
      width: 940px
      margin-bottom: 25px

      .image
        float: left
        width: 240px
        height: 160px
        background: #ccc
        margin-right: 20px

        img
          width: 140px
          height: 90px

      .right
        float: left
        width: 540px

        .date
          font-size: 14px
          color: #666666
          margin-bottom: 25px

        .title
          margin: 0px
          font-size: 32px
          line-height: 40px

          a
            font-family: 'HelveticaNeue-Regular'
            font-size: 22px
            line-height: 28px

    .content
      font-size: 15px
      line-height: 22px
      margin-bottom: 20px

    .read-more
      color: #4A90E2
      text-decoration: underline
      font-size: 15px

