.slider
  = image_tag 'banner.png'


.title
  О сети магазинов «Туфлеград»


.main-page.clearfix
  .content

    .text
      %p
        Посмотрев семь месяцев назад первый тизер, вышедший к фильму «Начало», все сразу поняли, что их ждет незабываемое зрелище. Да и фамилия режиссера уже давно стала синонимом к слову «качество», по крайней мере для меня: из его фильмографии я смотрела 5 фильмов, не считая данного, и все они в списке моих самых любимых. Поэтому в кино я шла с абсолютной уверенностью, что эта картина пополнит мой список. Но после просмотра я поняла, что все мои ожидания были превзойдены в N-ное количество раз.

      %p
        Фильм рассказывает нам о новой системе, благодаря которой можно внедряться в сон к любому человеку, своровать у него какую-нибудь идею или даже внедрить ее в мозг. Этим и занимаются двое главных героев фильма. Кроме того, с ними работает целая команда, помогающая им этим заниматься: химик, который готовит снотворные средства, архитектор, составляющий проекты их будущих снов и так называемый «хамелеон», который способен менять свой облик во сне. Всем им поручено внедрить полезную для конкурентов идею молодому наследнику многомиллионной империи. Они готовятся к этому, составляют план и начинают действовать. Но в любой системе может произойти сбой, и этот случай не является исключением… Дальше рассказывать не стоит, так как не хочется портить впечатление тем, кто еще не посмотрел, но конец был как раз в стиле Нолана: вам дали основу, а дальше уж додумывайте сами. И не сомневайтесь, вы будете поражены.
  .news-block
    .articles-column
      .article
        %span.date 14.09.2014
        %a{href: '#'} На продажу завезена первая партия зимней обуви для говорящих хомяков

      .article
        %span.date 14.09.2014
        %a{href: '#'} На продажу завезена первая партия зимней обуви для говорящих хомяков

      .article
        %span.date 14.09.2014
        %a{href: '#'} На продажу завезена первая партия зимней обуви для говорящих хомяков

      .article
        %span.date 14.09.2014
        %a{href: '#'} На продажу завезена первая партия зимней обуви для говорящих хомяков


.title
  Адреса и телефоны магазинов


.shops.clearfix
  .shop
    .img

    .contacts

      .name Туфлеград

      .contact-name Телефон:
      .phone
        (495) 820 40 80

      .contact-name Адрес:
      .address
        Носовихинская улица, дом 23.

      .contact-name Режим работы:
      .schedule
        В будни: 10:00 - 22:00
        %br
        В выходные: 10:00 - 21:00


  .shop
    .img

    .contacts

      .name Туфлеград

      .contact-name Телефон:
      .phone
        (495) 820 40 80

      .contact-name Адрес:
      .address
        Носовихинская улица, дом 23.

      .contact-name Режим работы:
      .schedule
        В будни: 10:00 - 22:00
        %br
        В выходные: 10:00 - 21:00


  .shop
    .img

    .contacts

      .name Туфлеград

      .contact-name Телефон:
      .phone
        (495) 820 40 80

      .contact-name Адрес:
      .address
        Носовихинская улица, дом 23.

      .contact-name Режим работы:
      .schedule
        В будни: 10:00 - 22:00
        %br
        В выходные: 10:00 - 21:00



#map

#footer
  .line
  .footer-content
    ООО «Туфлеград»
    %br
    2003 - 2014
    %br
    Все права защищены
