.slider
  = image_tag 'banner.png'


.title
  О сети магазинов «Туфлеград»


.main-page.clearfix
  .content

    .text
      %p
        = @settings.about_company.gsub("\n", "<br />").html_safe

  .news-block
    .articles-column
      = render partial: 'articles/list', locals: {articles: @articles}



.title
  Адреса и телефоны магазинов


= render partial: 'application/shops', locals: {shops: @shops}


#map

#footer
  .line
  .footer-content
    ООО «Туфлеград»
    %br
    2003 - 2014
    %br
    Все права защищены
