.slider
  %ul.bxslider
    - @banners.each do |banner|
      %li
        = image_tag banner.image_url(:full)


.title
  О сети магазинов обуви «Туфлеград»


.main-page.clearfix
  .content

    .text
      %p
        = @settings.about_company.gsub("\n", "<br />").html_safe

  .news-block
    .articles-column
      = render partial: 'articles/list', locals: {articles: @articles}



.title.shops-title#shops
  Адреса и телефоны магазинов


= render partial: 'application/shops', locals: {shops: @shops}


#map

